body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(90deg, cyan, rgb(102, 102, 152), rgb(53, 90, 53));
}

h2{
    text-align: center;
    color: white;
    font-size: large;
    font-family: roboto;
}

.container{
    width: 660px;
    height: 660px;
    margin: 0 auto;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(120deg, #7a817b, #e1aeed, #f0f083);

}


.grid-box{
    
    border: 1px solid black;
    box-sizing: border-box;
    aspect-ratio: 1;
    cursor: pointer;
}

.grid-row{
    display: flex;
    width: 100%;
}
.lines:hover{
    background-color: #454a4c;
}

.wrapper{
   
    border: 1px solid rgb(117, 20, 20);
    box-sizing: border-box;

}
.btn{
    margin: 10px;
    align-self: center;
}

